{{#each this}}
<li class="team-item">
<a 
target="_blank"
rel="noreferrer noopener" href={{gitHub}}>
     <div class="team-box">
        <img class="avatar" src={{avatar}} alt="">
<h3 class="team-name">{{name}}</h3>
<h4 class="team-role">{{teamRole}}</h4>
<p class="team-text">{{text}}</p>

 </div>
</a>

</li>

{{/each}}